In [ ]:
print("Hello, World")

Hello, World

In [ ]:
name =  input("What is your name? ")
print(f"Hello, {name}!")

What is your name? saqlain Abbas
Hello, saqlain Abbas!

In [ ]:
num1 = input("Enter first number:")
num2 = input("Enter second number:")
sum = int(num1) + int(num2)
difference = int(num1) - int(num2)
product = int(num1) * int(num2)
print(sum)
print(difference)
print(product)

Enter first number:3
Enter second number:5
8
-2
15

In [ ]:
num = input("Enter a number:")
if(int(num) % 2 == 0):
    print("Even")
else:
    print("Odd")

Enter a number:6
Even

In [ ]:
list = []
for i in range(1,11):
    list.append(i*i)
print(list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [3]:
list = [2,4,12,45,23,5]
list.append(3);
print(list)
list.remove(45)
print(list)
list.sort()
print(list)

[2, 4, 12, 45, 23, 5, 3]
[2, 4, 12, 23, 5, 3]
[2, 3, 4, 5, 12, 23]

In [8]:
dict = {
    "Ali": 23,
    "Hassan": 17
}
print(dict)
dict["Hussain"]=20 #add new student
print(dict)
dict.update({"Ali":16}) #update value
print(dict)
dict.pop("Ali") #remove student
print(dict)

{'Ali': 23, 'Hassan': 17}
{'Ali': 23, 'Hassan': 17, 'Hussain': 20}
{'Ali': 16, 'Hassan': 17, 'Hussain': 20}
{'Hassan': 17, 'Hussain': 20}

In [9]:
def calArea():
  radius = input('Enter Radius:')
  Area = 3.145 * int(radius) * int(radius)
  print(Area)
calArea()

Enter Radius:3
28.305

In [10]:
sum = lambda x,y:x+y
print(sum(3,5))

8

In [11]:
addList = [x for x in range(1,21) if x%2==0]
print(addList)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]